#1 Duplicate this file.
#2 Remove the .example from the end of this filename.
#3 Replace the values with the actual credentials.
#4 Don't share your actual values.

# MongoDB Connection
MONGO_URI=value

# JWT Auth
JWT_SECRET=value
JWT_LIFETIME=value

# PlantNet API
PLANTNET_KEY=value